img { 
    max-width: 500px;
    height: auto; 
}

body { 
    background-color: #21252b; 
    color: #abb2bf; 
    margin: 0;
    padding: 20px;
}

h1, h2, h3 { 
    color: #f93c9b; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    color: #abb2bf;
}
th, td {
    border: 1px solid #3e4451;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #282c34;
}  

hr{ background: #3e4451; border: none; height: 1px; }

pre, code {
    background-color: #272822; 
    color: #f8f8f2; 
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    display: block; 
}

blockquote {
    background-color: #2c313a; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-style: italic;
    color: #b3c0d8; 
}

/* basic sintax (keywords) */
.codehilite { font-family: "Cascadia Code","DejaVu Sans Mono", "Consolas", monospace;}
.codehilite .hll { background-color: #444444 }
.codehilite .k { color: #66d9ef; font-weight: bold } 
.codehilite .kc { color: #66d9ef; font-weight: bold } 
.codehilite .kd { color: #66d9ef; font-weight: bold }
.codehilite .kn { color: #f92672; font-weight: bold }
.codehilite .kp { color: #960050 }
.codehilite .kr { color: #66d9ef; font-weight: bold }
.codehilite .kt { color: #a6e22e; font-weight: bold }

/* operators */
.codehilite .ow { color: #f92672; font-weight: bold }
.codehilite .o { color: #f92672 }


/* literal numbers */
.codehilite .il { color: #ae81ff }
.codehilite .m { color: #ae81ff } 
.codehilite .mi { color: #ae81ff }
.codehilite .mf { color: #ae81ff }

/* Strings */
.codehilite .dl { color: #e6db74 }
.codehilite .sd { color: #e6db74; font-style: italic } 
.codehilite .se { color: #e6db74 }
.codehilite .sh { color: #e6db74 }
.codehilite .si { color: #e6db74 }
.codehilite .sx { color: #e6db74 }
.codehilite .sr { color: #e6db74 }
.codehilite .s1 { color: #e6db74 }
.codehilite .ss { color: #e6db74 }
.codehilite .s2 { color: #e6db74 } 
.codehilite .sa { color: #e6db74 } 
.codehilite .sb { color: #e6db74 } 
.codehilite .sc { color: #e6db74 }  
.codehilite .s { color: #e6db74 }  

/* pygments errors */
.codehilite .err { color: #f92672; background-color: #5d0030 }

/* names */
.codehilite .na { color: #a6e22e }
.codehilite .nb { color: #39f2ef }
.codehilite .nc { color: #a6e22e; font-weight: bold }
.codehilite .nf { color: #a6e22e; font-weight: bold }
.codehilite .nt { color: #f92672 }
.codehilite .nv { color: #f8f8f2 }
.codehilite .nd { color: #a6e22e } 
.codehilite .ni { color: #f8f8f2 } 
.codehilite .ne { color: #a6e22e; font-weight: bold } 
.codehilite .no { color: #f92672 } 
.codehilite .bp { color: #66d9ef } 
.codehilite .vg { color: #f8f8f2 } 
.codehilite .vi { color: #f8f8f2 } 
.codehilite .vc { color: #f8f8f2 } 

/* comments */
.codehilite .cp { color: #ffc904; font-style: italic; font-weight: bold; } 
.codehilite .ge { font-style: italic } 
.codehilite .gh { color: #f92672 } 
.codehilite .gp { color: #f8f8f2 } 
.codehilite .gu { color: #75715e; font-style: italic } 
.codehilite .w { color: #f8f8f2 } 
.codehilite .c { color: #78a9c0; font-style: italic } 
.codehilite .cm { color: #78a9c0; font-style: italic }
.codehilite .c1 { color: #78a9c0; font-style: italic }
.codehilite .cs { color: #78a9c0; font-style: italic }
.codehilite .ch { color: #78a9c0; font-style: italic }